@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&display=swap');
*{
  margin:0;
  font-family: 'Nanum Gothic', sans-serif;
}

body{
  background-color:#0077b6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  background-color:#90e0ef;
  width: 600px;
  border-radius: 15px;
  height: min-content;
  padding:10px;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.question-section{
  width: 100%;
  position: relative;
}

.question-count{
  margin-bottom: 10px;
}

.question-text{
  margin-bottom: 10px;
  font-size: 24px;
  color:#2B394A;
}

.answer-section{
  width: 100%;
  margin-left:20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn{
  width:100%;
  font-size: 19px;
  margin-bottom:10px;
  border-radius: 15px;
  color:#ffffff;
  background-color: #252d4a;
  display: flex;
  justify-content: flex-start;
  padding:9px;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif!important;
}

button:focus{
  outline: none;
}

.correct{
  border: 5px green solid;
}

.incorrect{
  border: 5px red solid;
}


@media only screen and (max-width:600px){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-right: 20px;
  }
  .App{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .question-section{
    width: 100%;
    position: relative;
  }

  .question-text{
    text-align: center;
  }

  .answer-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
}
